<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link rel="me" href="https://manganiello.eu/users/fabio">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Gaza Verified Archive">
    <meta property="og:description" content="A public archive of all material uploaded by verified accounts from Gaza on the Fediverse">
    <meta property="og:image" content="https://archive.gaza.onl/favicon.ico">
    <meta property="og:url" content="https://archive.gaza.onl/">
    <title>Gaza Verified Archive</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
    <noscript>
      <h1>List of verified accounts from Gaza</h1>

      <p>
          Main page of the initiative:
          <a href="https://gaza-verified.org" target="_blank" rel="noopener noreferrer">
              gaza-verified.org
          </a>
      </p>

      <small>
        This page requires JavaScript to function properly. Please enable JavaScript in your browser settings and reload
        the page.
      </small>

      <h2>Verified Accounts:</h2>

      <ul>
      {% for account in accounts %}
        <li>
          <a rel="me" href="{{ account.url }}">{{ account.fqn }}</a>
        </li>
      {% endfor %}
      </ul>

      {% if bot_account_info is not none %}
        <p>
          Mastodon bot that boosts posts from these accounts:<br />
          <a rel="me" href="{{ bot_account_info['url'] }}">{{ bot_account_info['fqn'] }}</a>
        </p>
      {% endif %}
    </noscript>
  </body>
</html>
