# The base URL where the application will be accessible.
BASE_URL="http://localhost:8000"

# The path where the application will store its data.
# All media files will be under STORAGE_PATH/media.
# In Docker images, the database will be at STORAGE_PATH/app.db.
STORAGE_PATH="/data"

# The host and port for the API server.
API_HOST="0.0.0.0"
API_PORT=8000

# The URL of the source website to crawl for verified accounts.
ACCOUNTS_SOURCE_URL="https://gaza-verified.org"

# Database connection URL (SQLAlchemy format).
# Note that for other databases you may need to install additional drivers.
DB_URL="sqlite:///data/app.db"

# Whether to download media files (images, videos) from posts.
DOWNLOAD_MEDIA=1

# User agent string to use for HTTP requests.
USER_AGENT="GazaVerifiedArchiveBot/1.0"

# Interval (in seconds) between successive crawls.
POLL_INTERVAL=300

# Maximum time (in seconds) to wait for HTTP requests.
HTTP_TIMEOUT=10

# Number of concurrent crawlers.
CONCURRENT_REQUESTS=5

# Enable or disable the crawlers (1 to enable, 0 to disable).
# Disabling it will stop all crawling activities. The application will only
# serve existing data.
ENABLE_CRAWLERS=1

# Enable fetching campaign data from fundraising platforms.
ENABLE_CAMPAIGN_CRAWLERS=0

# Debug mode (1 to enable, 0 to disable).
DEBUG=0

# Profiles to exclude from crawling (comma-separated).
EXCLUDE_PROFILES="https://mastodon.ar.al/@aral,https://kafeneio.social/@casey"

# Some shortened fundraising URL, e.g. GoFundMe, may experience connectivity
# issues on some VPS providers (e.g. Linode). If you face such issues, you can
# configure a proxy URL here to route requests through it.
# Leave it empty to disable proxying.
# CAMPAIGN_URL_HTTP_PROXY="10.0.0.254:8888"

# Either a paid exchangerate-api.com or a free fixer.io API key are required
# if you want to enable campaign crawlers, unless you want to apply only today's
# exchange rates (which may be inaccurate for older campaigns).

# exchangerate-api.com API key for currency conversion (optional).
# You can get a free API key from https://www.exchangerate-api.com/
# EXCHANGE_RATE_API_KEY="your_exchangerate_api_key_here"

# fixer.io API key for currency conversion (optional).
# You can get a free API key from https://fixer.io/signup/free
# FIXER_IO_API_KEY="your_fixer_io_api_key_here"
