.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.darken {
  animation: darken 0.5s ease-in-out;
  filter: brightness(0.6);
}

.lighten {
  animation: lighten 0.5s ease-in-out;
  filter: brightness(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes darken {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.6);
  }
}

@keyframes lighten {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.1);
  }
}
