@use "./animations" as *;

a {
  text-decoration: none;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }
}

.view {
  @extend .fade-in;
}

.error {
  color: var(--color-error);
}
