@use "./animations" as *;

a {
  text-decoration: none;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }
}

.view {
  @extend .fade-in;
}

.error {
  color: var(--color-error);
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--color-border);

  .tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;

    &.active {
      border-color: var(--color-border);
      border-bottom: 1px solid var(--color-background);
      background-color: var(--color-background);
    }

    &:hover {
      background-color: var(--color-primary);
    }
  }
}
