@use "./animations" as *;

a {
  text-decoration: none;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }
}

.view {
  @extend .fade-in;
}

.error {
  color: var(--color-error);
}

input[type="text"], textarea {
  width: 100%;
  max-width: 400px;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--color-border);

  .tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);

    &.active {
      border-color: var(--color-border);
      background-color: var(--color-background);
    }

    &:hover {
      background-color: var(--color-hover-bg);
      border: 1px solid transparent;
      border-bottom: none;
    }
  }
}
